MyAdmin/Service References/WS_MTraffic/MTraffic1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Mtraffic.vn/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Mtraffic.vn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Mtraffic.vn/">
      <s:element name="Check">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="KeywordID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChannelType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="KeywordID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reg_CMD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChannelType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CommandCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reg_CMDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reg_CMDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Dereg_CMD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChannelType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CommandCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Dereg_CMDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Dereg_CMDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reg_VNP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mChannel" type="tns:ChannelType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ChannelType">
        <s:restriction base="s:string">
          <s:enumeration value="SMS" />
          <s:enumeration value="IVR" />
          <s:enumeration value="WEB" />
          <s:enumeration value="WAP" />
          <s:enumeration value="USSD" />
          <s:enumeration value="CLIENT" />
          <s:enumeration value="API" />
          <s:enumeration value="UNSUB" />
          <s:enumeration value="CSKH" />
          <s:enumeration value="MAXRETRY" />
          <s:enumeration value="SUBNOTEXIST" />
          <s:enumeration value="SYSTEM" />
        </s:restriction>
      </s:simpleType>
      <s:element name="Reg_VNPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reg_VNPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeReg_VNP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mChannel" type="tns:ChannelType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeReg_VNPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeReg_VNPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckSoapIn">
    <wsdl:part name="parameters" element="tns:Check" />
  </wsdl:message>
  <wsdl:message name="CheckSoapOut">
    <wsdl:part name="parameters" element="tns:CheckResponse" />
  </wsdl:message>
  <wsdl:message name="RegSoapIn">
    <wsdl:part name="parameters" element="tns:Reg" />
  </wsdl:message>
  <wsdl:message name="RegSoapOut">
    <wsdl:part name="parameters" element="tns:RegResponse" />
  </wsdl:message>
  <wsdl:message name="Reg_CMDSoapIn">
    <wsdl:part name="parameters" element="tns:Reg_CMD" />
  </wsdl:message>
  <wsdl:message name="Reg_CMDSoapOut">
    <wsdl:part name="parameters" element="tns:Reg_CMDResponse" />
  </wsdl:message>
  <wsdl:message name="Dereg_CMDSoapIn">
    <wsdl:part name="parameters" element="tns:Dereg_CMD" />
  </wsdl:message>
  <wsdl:message name="Dereg_CMDSoapOut">
    <wsdl:part name="parameters" element="tns:Dereg_CMDResponse" />
  </wsdl:message>
  <wsdl:message name="GetInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetInfo" />
  </wsdl:message>
  <wsdl:message name="GetInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetInfoResponse" />
  </wsdl:message>
  <wsdl:message name="Reg_VNPSoapIn">
    <wsdl:part name="parameters" element="tns:Reg_VNP" />
  </wsdl:message>
  <wsdl:message name="Reg_VNPSoapOut">
    <wsdl:part name="parameters" element="tns:Reg_VNPResponse" />
  </wsdl:message>
  <wsdl:message name="DeReg_VNPSoapIn">
    <wsdl:part name="parameters" element="tns:DeReg_VNP" />
  </wsdl:message>
  <wsdl:message name="DeReg_VNPSoapOut">
    <wsdl:part name="parameters" element="tns:DeReg_VNPResponse" />
  </wsdl:message>
  <wsdl:portType name="MTrafficSoap">
    <wsdl:operation name="Check">
      <wsdl:input message="tns:CheckSoapIn" />
      <wsdl:output message="tns:CheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reg">
      <wsdl:input message="tns:RegSoapIn" />
      <wsdl:output message="tns:RegSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reg_CMD">
      <wsdl:input message="tns:Reg_CMDSoapIn" />
      <wsdl:output message="tns:Reg_CMDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Dereg_CMD">
      <wsdl:input message="tns:Dereg_CMDSoapIn" />
      <wsdl:output message="tns:Dereg_CMDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <wsdl:input message="tns:GetInfoSoapIn" />
      <wsdl:output message="tns:GetInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reg_VNP">
      <wsdl:input message="tns:Reg_VNPSoapIn" />
      <wsdl:output message="tns:Reg_VNPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeReg_VNP">
      <wsdl:input message="tns:DeReg_VNPSoapIn" />
      <wsdl:output message="tns:DeReg_VNPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MTrafficSoap" type="tns:MTrafficSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Check">
      <soap:operation soapAction="http://Mtraffic.vn/Check" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reg">
      <soap:operation soapAction="http://Mtraffic.vn/Reg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reg_CMD">
      <soap:operation soapAction="http://Mtraffic.vn/Reg_CMD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dereg_CMD">
      <soap:operation soapAction="http://Mtraffic.vn/Dereg_CMD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <soap:operation soapAction="http://Mtraffic.vn/GetInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reg_VNP">
      <soap:operation soapAction="http://Mtraffic.vn/Reg_VNP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeReg_VNP">
      <soap:operation soapAction="http://Mtraffic.vn/DeReg_VNP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MTrafficSoap12" type="tns:MTrafficSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Check">
      <soap12:operation soapAction="http://Mtraffic.vn/Check" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reg">
      <soap12:operation soapAction="http://Mtraffic.vn/Reg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reg_CMD">
      <soap12:operation soapAction="http://Mtraffic.vn/Reg_CMD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dereg_CMD">
      <soap12:operation soapAction="http://Mtraffic.vn/Dereg_CMD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo">
      <soap12:operation soapAction="http://Mtraffic.vn/GetInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reg_VNP">
      <soap12:operation soapAction="http://Mtraffic.vn/Reg_VNP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeReg_VNP">
      <soap12:operation soapAction="http://Mtraffic.vn/DeReg_VNP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MTraffic">
    <wsdl:port name="MTrafficSoap" binding="tns:MTrafficSoap">
      <soap:address location="http://localhost:8082/MTraffic_WebService/MTraffic.asmx" />
    </wsdl:port>
    <wsdl:port name="MTrafficSoap12" binding="tns:MTrafficSoap12">
      <soap12:address location="http://localhost:8082/MTraffic_WebService/MTraffic.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>